<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= link_to 'Me', user_root_url, class: "nav-link #{active_class(user_root_url)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Events', events_path, class: "nav-link #{active_class(events_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Categories', categories_path, class: "nav-link #{active_class(categories_path)}" %>
  </li>
</ul>